<mat-card>
<mat-card-header style="display: flex;align-items: center;">
  <button mat-icon-button (click)="close()" style="position: absolute; right: 0;color: red;background-color: white;">
    <mat-icon>close</mat-icon>
  </button>
  <mat-card-title>
    Appointment Details

  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <div *ngIf="appointment">
    <p><strong>Customer name:</strong> {{ appointment.user.name }}</p>
    <p><strong>Customer cedula:</strong> {{ appointment.user.cedula }}</p>
    <p><strong>Location:</strong> {{ appointment.location.name }}</p>
    <p><strong>Address:</strong> {{ appointment.location.address }}</p>
    <p><strong>Appointment Date:</strong> {{ appointment.appointmentDate | date:'MMMM d, yyyy HH:mm:ss' }}</p>
    <p><strong>Active:</strong> {{ appointment.isActive ? 'Yes' : 'No' }}</p>
    <p><strong>CreatedAt:</strong> {{ appointment.createdAt | date:'MMMM d, yyyy HH:mm:ss'}}</p>
    <button mat-raised-button color="primary" (click)="editAppointment()">Edit</button>
  </div>
</mat-card-content>
</mat-card>
  